In [1]:
# Read the dataset from the below link
# https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_
# Names/US_Baby_Names_right.csv

# Questions:
# 1. Delete unnamed columns

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

In [4]:
df2 = df.copy()

In [5]:
df2.to_csv("US_Baby_Names_right.csv")

In [8]:
df3 = pd.read_csv("US_Baby_Names_right.csv")

In [9]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
df[-1:-5:-1]

              Id     Name  Year Gender State  Count
1016394  5647426   Waylon  2014      M    WY      5
1016393  5647425   Victor  2014      M    WY      5
1016392  5647424     Tyce  2014      M    WY      5
1016391  5647423  Spencer  2014      M    WY      5